---
permalink: '/site.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.name }}",
  "short_name": "{{ site.short_name }}",
  "lang": "{{ site.lang }}",
  "dir": "{{ site.dir }}",
  "description": "{{ site.pwa.description }}",
  "categories": {{ site.pwa.categories | dump | safe }},
  "icons": [
    {
      "src": "/android-chrome-192x192.png",
      "sizes": "192x192",
      "type": "image/png",
      "purpose": "maskable any"
    },
    {
      "src": "/android-chrome-512x512.png",
      "sizes": "512x512",
      "type": "image/png",
      "purpose": "maskable any"
    }
  ],
  "theme_color": "{{ site.pwa.theme_color }}",
  "background_color": "{{ site.pwa.background_color }}",
  "start_url": "{{ site.url }}{%- if site.pwa.version > 1 -%}/?v={{ site.pwa.version }}{%- endif -%}",
  "display": "standalone",
  "prefer_related_applications": false
}
{#
  https://developer.mozilla.org/en-US/docs/Web/Manifest
  CHECKOUT other properties as:

  - "display": "fullscreen" 
    https://developer.mozilla.org/en-US/docs/Web/Manifest/display
    for ios: <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
    https://web.dev/learn/pwa/enhancements/#fullscreen-support

  - "display_override": ["fullscreen", ...]
    https://developer.mozilla.org/en-US/docs/Web/Manifest/display_override

  - "orientation": "landscape"
    https://developer.mozilla.org/en-US/docs/Web/Manifest/orientation

  - "protocol_handlers": []
    https://developer.mozilla.org/en-US/docs/Web/Manifest/protocol_handlers
    
  - "shortcuts": [
      {
        "name": "Shortcut name to show in the menu",
        "short_name": "Shortcut short name",
        "description": "A description of what the shortcut does",
        "url": "Link to shortcut",
        "icons": [
          {
            "src": "/icons/play-later.svg",
            "type": "image/svg+xml",
            "purpose": "any"
          },
          {
              "src": "/icons/play-later.png",
              "sizes": "96x96",
              "type": "image/png",
              "purpose": "any"
          }
        ]
      },
      ...
    ]
    https://developer.mozilla.org/en-US/docs/Web/Manifest/shortcuts

  - "screenshots" : [
      {
        "src": "screenshot1.webp",
        "sizes": "1280x720",
        "type": "image/webp",
        "platform": "wide",
        "label": "Homescreen of Awesome App"
      },
      {
        "src": "screenshot2.webp",
        "sizes": "1280x720",
        "type": "image/webp",
        "platform": "wide",
        "label": "List of Awesome Resources available in Awesome App"
      }
    ]
    https://developer.mozilla.org/en-US/docs/Web/Manifest/screenshots

  - "iarc_rating_id"
 #}