{% if site.allLangs.length %}
  <div class="language-selector" aria-label="{{ 'language_selector' | i18n }}">
    <span>{{ 'language' | i18n }}</span>
    <ul>
      {% if lang %}<li aria-label="{{ langInfo }}">{{ lang }}</li>{% endif %}

      {% set links = collections.all | langLinksFilter(lang) %}

      {% for link in links -%}
        <li><a href="{{ link.url }}" rel="alternate" aria-label="{{ link.langName }}" hreflang="{{ link.lang }}">{{ link.lang }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
